# Dependencies
node_modules
npm-debug.log*

# Environment
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea

# Test artifacts
coverage
*.test.js